/*! -------------------------
Base
-------------------------- */
body, header, main, footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
@media screen and (min-width: 540px) {
  h1, h2, h3, h4, p {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  h1, h2, h3, h4, p {
    margin-bottom: 40px;
  }
}

/*! -------------------------
Typo
-------------------------- */
@font-face {
  src: url("../assets/fonts/paulsignature/odc-paulsignature.ttf");
  font-family: "odc-paulsignature";
}
@font-face {
  src: url("../assets/fonts/avenir/odc-avenir-400.otf");
  font-family: "odc-avenir-400";
}
html {
  font-size: 62.5%;
}

body {
  font-family: "odc-avenir-400";
  font-size: 1.6rem;
  font-weight: 400;
  color: #252422;
}

/*! -------------------------
Animations
-------------------------- */
/*! -------------------------
Buttons
-------------------------- */
/*! -------------------------
Carrousels
-------------------------- */
/*! -------------------------
Forms
-------------------------- */
/*! -------------------------
Menus
-------------------------- */
/*! -------------------------
Layout
-------------------------- */
.nav__container,
.hero {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin-top: 20px;
}

/*! -------------------------
Grid
-------------------------- */
/*! -------------------------
Header
-------------------------- */
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 20px);
  padding: 0;
  background-color: #deebe3;
}
@media screen and (min-width: 768px) {
  .header {
    min-height: initial;
  }
}

/*! -------------------------
Navbar
-------------------------- */
.nav__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.nav__logo-container {
  display: flex;
  align-items: flex-start;
  width: 240px;
}

.nav__logo-cup {
  width: 40px;
}

.nav__logo-text {
  width: 200px;
}

.nav__logo-img {
  display: block;
  width: 100%;
}

.nav__menu-container {
  display: flex;
  justify-content: flex-end;
}

.nav__links-container {
  display: none;
}

.nav__menu {
  position: relative;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .nav__menu {
    display: none;
  }
}

.menu-btn {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 15px);
  width: 30px;
  height: 4px;
  background-color: #f6954c;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 30px;
  height: 4px;
  background-color: #88a896;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 4px;
  background-color: #a63519;
}

/*! -------------------------
Hero
-------------------------- */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 90px);
  overflow: hidden;
}
@media screen and (min-width: 540px) {
  .hero {
    flex-direction: row;
    overflow: initial;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: initial;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
}
@media screen and (min-width: 768px) {
  .hero__content {
    width: calc(100% - 300px);
    max-width: 500px;
    padding-right: 20px;
  }
}

.hero__title {
  width: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    text-align: start;
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 6.4rem;
  }
}
.hero__title .hero__title--em {
  display: block;
  font-size: inherit;
  font-weight: 600;
}
.hero__title .hero__title-span {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero__title .hero__title-span {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title .hero__title-span {
    font-size: 3.6rem;
  }
}
.hero__title .hero__title-span span {
  font-weight: 600;
}

.hero__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    text-align: start;
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
.hero__text .hero__text--em {
  font-weight: 600;
}
.hero__text .hero__text--em:nth-child(1) {
  color: #f6954c;
}
.hero__text .hero__text--em:nth-child(2) {
  color: #a63519;
}

.hero__ctas {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.hero__cta--guias,
.hero__cta--cursos {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.hero__cta--guias span,
.hero__cta--cursos span {
  max-width: 7ch;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .hero__cta--guias span,
.hero__cta--cursos span {
    max-width: initial;
    font-size: 1.6rem;
  }
}

.hero__cta--guias {
  height: 26px;
  margin-right: 5px;
  color: #f6954c;
  border: 2px solid #f6954c;
  background-color: transparent;
  transition-property: color, border-color;
  will-change: color, border-color;
}
.hero__cta--guias:hover {
  color: #a63519;
  border-color: #a63519;
}

.hero__cta--cursos {
  margin-left: 5px;
  color: white;
  background-color: #a63519;
  transition-property: color, background-color;
  will-change: color, background-color;
}
.hero__cta--cursos:hover {
  color: #a63519;
  background-color: #f6954c;
}

.hero__picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__picture {
    width: 300px;
  }
}

.hero__picture-container {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .hero__picture-container {
    width: 300px;
  }
}

.hero__picture-img {
  display: block;
  width: 100%;
}

/*! -------------------------
Sidebar
-------------------------- */
/*! -------------------------
Footer
-------------------------- */
/*! -------------------------
Index
-------------------------- */
/*! -------------------------
Admin
-------------------------- */
/*! -------------------------
Default
-------------------------- */