/*! -------------------------
Base
-------------------------- */

@use "../abstract" as *;

html {
  scroll-behavior: smooth;
}


// CONTENEDORES GLOBALES

// Todos tienen margin y padding reseteado
// Width de 100% para usar bgs full width
// Flex column centrado horizontal

body, header, header nav, main, footer {
  @include flex(column, flex-start, center);
  width: 100%;
  margin: 0;
  padding: 0;
}

// Body centrado con margin 0 auto
// Selections con bg verde y color bg (casi white)

body {
  background-color: $color-bg;
  & ::selection {
    color: $color-primary;
    background-color: $color-bg;
  }
}


// ENCABEZADOS Y TEXTOS

h1, h2, h3, p, h2 + small, h2 + strong {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
h2 + small {
  display: inline-block;
}

h2, small {
  margin-bottom: 0;
}