/*! -------------------------
Base
-------------------------- */

@use "../abstract" as *;

html {
  scroll-behavior: smooth;

::-webkit-scrollbar {
  width: 16px;
}
// BARRA THUMB
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border: 3px solid $color-bg-primary;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}
::-webkit-scrollbar-thumb:active {
  background: $color-extra;
}
// BARRA TRACK
::-webkit-scrollbar-track {
  background: $color-bg-primary;
}
::-webkit-scrollbar-track:hover {
  background: $color-bg-primary;
}
::-webkit-scrollbar-track:active {
  background: $color-bg-primary;
}
// BUTONS
::-webkit-scrollbar-button:single-button {
  background-color:$color-bg-primary;
  display: block;
  border-style: solid;
  height: 12px;
  width: 16px;
}
// BUTTON UP
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent $color-primary transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent $color-secondary transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  border-color: transparent transparent $color-extra transparent;
}
// BUTTON DOWN
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: $color-primary transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: $color-secondary transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:active {
  border-color: $color-extra transparent transparent transparent;
}
}


// CONTENEDORES GLOBALES

// Todos tienen margin y padding reseteado
// Width de 100% para usar bgs full width
// Flex column centrado horizontal

body, header, header nav, main, footer, main section, .footer-copy {
  @include flex(column, flex-start, center);
  width: 100%;
  margin: 0;
  padding: 0;
}

// Body centrado con margin 0 auto
// Selections con bg verde y color bg (casi white)

body {
  background-color: $color-bg;
  & ::selection {
    color: $color-primary;
    background-color: $color-bg;
  }
}


// ENCABEZADOS Y TEXTOS

h1, h2, h3, p, h2 + small, h2 + strong {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
h2 + small {
  display: inline-block;
}

h2, small {
  margin-bottom: 10px;
}


// ERROR 404 

.error404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .read-more {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
  }
}

.error404-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 6.0rem;
  text-align: center;
  color: #a63519;
}

.error404-title span {
  font-size: 9.0rem;
  text-align: center;
  color: #f6954c;
}

.error404-subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
  font-size: 4.0rem;
  text-align: center;
  color: #a63519;
}

.error404-img-wrapper {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  max-height: 450px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.error404-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}