/*! -------------------------
Typo
-------------------------- */

@use "../abstract" as *;

@font-face {
  src: url('../assets/fonts/paulsignature/odc-paulsignature.ttf');
  font-family: 'odc-paulsignature';
}

@font-face {
  src: url('../assets/fonts/avenir/odc-avenir-400.otf');
  font-family: 'odc-avenir-400';
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'odc-avenir-400';
  color: $color-text;
}

h1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  @include tablet {
    font-size: 4.8rem;
  }
  @include laptop {
    font-size: 6.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 1;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  @include tablet {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

small {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: $color-extra;
  @include tablet {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
