// /*! -------------------------
// Fonts
// -------------------------- */

@use "./variables" as *;


// FAMILIES ...

  // Fuente Principal
  // Para contenido en general
  $font-primary: 'odc-avenir-400', sans-serif;

  // Fuente Secundaria
  // Para contenido especial/destacado
  $font-secondary: 'odc-paulsignature', cursive;


// SIZES ...

  // Small
  $size-xs: 1.0rem;
  $size-sm1: 1.2rem;
  $size-sm2: 1.4rem;

  // Medium
  $size-md1: 1.6rem;
  $size-md2: 1.8rem;
  $size-md3: 2.0rem;

  // Large
  $size-lg1: 2.4rem;
  $size-lg2: 3.2rem;
  $size-lg3: 3.6rem;

  // Extra-Large
  $size-xl1: 4.0rem;
  $size-xl2: 4.8rem;
  $size-xxl: 6.4rem;


// WEIGHTS ...

  // Regular
  $normal: 400;
 
  // Heavy
  $semibold: 600;