section#bio.section__bio
  .bio__container
    .bio__content
      .bio__txt.bio__txt1#bio__txt1
        h2 ¡Hola soy Nathaly!
        p ¿Sabías que preparar y compartir una taza de café es lo que más disfruto hacer?
      .bio__txt.bio__txt2#bio__txt2
        p Mi 
          span pasión por el café
          |  comenzó desde pequeña, viendo como mis abuelos no podían empezar el día sin su café recién preparado.
        p Así fue como en el 2015 participe de mi primer curso de 
          span ¿Cómo hacer café en casa?
          | , para poder compartir ese ritual con ellos y desde ese momento no pude parar de aprender.
        span.bio__more > > Leer Más > >
      .bio__txt.bio__txt3#bio__txt3.display__none
        p En el 2017 empecé a trabajar en este apasionante mundo y descubro 
          span todo el trabajo que hay detrás de cada taza.
        p Durante estos años tuve la oportunidad de aprender y desarrollarme en diferentes areas como 
          span tostadora, barista y capacitadora.
        span.bio__more > > Leer Más > >
      .bio__txt.bio__txt4#bio__txt4
        p Una de las cosas que mas me gusta, es ver cuando la gente toma café  y se convierte en su momento feliz, cuando lo disfruta y lo explora.
        span.bio__more2 > > Leer Más > >
      .bio__txt.bio__txt5#bio__txt5.display__none
        p Lo mas lindo de esta pasión es compartirla y por eso cree 
          span OH DEAR Coffee...
        p Para conectar con todos los 
          span amantes del café
          |  y que se animen a experimentar y aprovechar todo lo que tiene para ofrecer. 
        span.bio__more2 > > Leer Más > >
      .bio__txt.bio__txt6#bio__txt6
        p ¡Ahora sí...
          br
          span vamos a tomar un café juntos! 

      .bio__img.bio__img1
        img(src="./assets/images/fotosbio/foto-01.jpg", alt="")
      .bio__img.bio__img2
        img(src="./assets/images/fotosbio/foto-02.jpg", alt="")
      .bio__img.bio__img3
        img(src="./assets/images/fotosbio/foto-03.jpg", alt="")
      .bio__img.bio__img4
        img(src="./assets/images/fotosbio/foto-04.jpg", alt="")