section#bio
  .bio-container
    .txt.txt1
      h2 ¡Hola soy Nathaly!
      p ¿Sabías que preparar y compartir una taza de café es lo que más disfruto hacer?
    .txt.txt2
      p Mi 
        span pasión por el café
        |  comenzó desde pequeña, viendo como mis abuelos no podían empezar el día sin su café recién preparado.
      p Así fue como en el 2015 participe de mi primer curso de 
        span ¿Cómo hacer café en casa?
        | , para poder compartir ese ritual con ellos y desde ese momento no pude parar de aprender.
    .txt.txt3
      p En el 2017 empecé a trabajar en este apasionante mundo y descubro 
        span todo el trabajo que hay detrás de cada taza.
      p Durante estos años tuve la oportunidad de aprender y desarrollarme en diferentes areas como 
        span barista, tostadora y capacitadora.
    .txt.txt4
      p Una de las cosas que mas me gusta, es ver cuando la gente toma café  y se convierte en su momento feliz, cuando lo disfruta y lo explora.
    .txt.txt5
      p Lo mas lindo de esta pasión es compartirla y por eso cree 
        span OH DEAR Coffee...
      p Para conectar con todos los 
        span amantes del café
        |  y que se animen a experimentar y aprovechar todo lo que tiene para ofrecer. 
    .txt.txt6
      p ¡Ahora sí...
        br
        span vamos a tomar un café juntos! 

    .img.img1
      img(src="./assets/images/fotosbio/foto-01.jpg", alt="")
    .img.img2
      img(src="./assets/images/fotosbio/foto-02.jpg", alt="")
    .img.img3
      img(src="./assets/images/fotosbio/foto-03.jpg", alt="")
    .img.img4
      img(src="./assets/images/fotosbio/foto-04.jpg", alt="")