section#blog.section__blog
  .blog__container
    +sectionTitle('Blog', 'Artículos sobre las bases del café, recorrido de cafeterías, café en casa, escritores invitados y más...')
    .blog__articles-container
      +artsBlog('Nalo-Nala, el gatitx baristx', 'Mascotas', '16/08/2021', './assets/images/fotosblog/01.jpg', 'Cuando mi mamá @ohdearcoffee me adoptó le dijeron que era Nala, pero en realidad soy Nalo... Un gatito amante del café')
      +artsBlog('Tostando Ando', 'Coffee Roaster', '24/07/2021', './assets/images/fotosblog/02.jpg', 'Malena Pichot es pro-aborto, Amalia Granata es pro-vida, y Chichi Peralta es pro-cura seducirme muy, despacioooooo')
      +artsBlog('Art Attack', 'Técnicas', '12/04/2021', './assets/images/fotosblog/03.jpg', 'Esto es un art attack... Esto es un art attack... Esto es un art attack... Bienvenidos a art attack de OHDEAR Coffee, este el articulo que te demuestra que no necesitas ser un experto para ser un gran artista, asi que... al ataque!')