section#blog.section__blog
  .blog__container
    h2 Blog
    span.blog__more PD: Esto es solo un spoiler...
    a(href="https://ohdearcoffee.com/blog/" target="_blank").blog__more--link Mira el blog completo acá 
    .blog__articles-container
      template#template-blogpost
        <article class="blog-post">
          <div class="post-images-container">
            <div class="post-img-container">
              a(href="" target="_blank")
                img(src="", alt="") 
            </div>
          </div>
          <h3 class="post-title"><a href="#" target="_blank">aca va el titulo</a></h3>
          <div class="post-data">
            <div class="author-name">autor</div>
            <div class="post-date">fecha/21/21</div>
          </div>
          <div class="post-resume">
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum soluta quis accusamus praesentium perspiciatis nemo natus neque quam nam ex, nobis voluptas repellat est quisquam, saepe, nisi eos beatae error!
          </div>
          <a class="read-more rm-fp" href="#" target="_blank">SEGUIR LEYENDO</a>
        </article>