section#blog.section__blog
  .blog__container
    +sectionTitle('Blog', 'Artículos sobre las bases del café, recorrido de cafeterías, café en casa, invitados')
    h3 Esto es un h3
    p Lorem ipsum dolor sit, 
      small amet consectetur
      |  adipisicing elit. Assumenda 
      strong reiciendis obcaecati
      |  sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur labore magnam dolore exercitationem facere optio enim molestiae error accusamus alias sit non doloribus temporibus, distinctio, explicabo maxime! Earum, pariatur autem!
