section#contacto.section__contacto
  .contacto__container
    h2 Contacto
    span.contacto__more ¡Deja tu mensaje!
    a(href="mailto:info@ohdearcoffee.com" target="_blank").contacto__more--link o un mail: info@ohdearcoffee.com
    .contacto__medios-container
      .contacto__form-container
        form(action="https://formsubmit.co/ohdearcoffee@gmail.com" method="POST").form-contact#form-contacto
          input(type="hidden" name="_next" value="http://ohdearcoffee.com/index.html#contacto")
          input(type="hidden" name="_captcha" value="false")
          input(type="hidden" name="_subject" value="Nuevo mensaje de contacto en OHDEARCOFFEE.com")
          input(type="text" name="_honey" style="display:none")
          .form-contact__field
            input(type="text" name="name" placeholder="Tu Nombre").form-contact__input#form-contacto-name
            span.form__alert Acá va un texto de alerta
          .form-contact__field
            input(type="mail" name="email"  placeholder="Tu E-Mail").form-contact__input#form-contacto-mail
            span.form__alert Acá va un texto de alerta
          .form-contact__field
            select(name="teconoci").form-contact__select
              option(value="conoci-instagram") Te conocí en Instagram
              option(value="conoci-pinterest") Te conocí en Pinterest
              option(value="conoci-facebook") Te conocí en Facebook
              option(value="conoci-otrositio") Te conocí en Otro sitio...
            span.custom-arrow
          .form-contact__field
            textarea(name="msj" placeholder="Deja tu mensaje").form-contact__msj#form-contacto-msj
            span.form__alert Acá va un texto de alerta
          .form-contact__field
            input(type="submit" value="Enviar").form-contact__submit
      .contacto__redes-container
        h3.redes__titulo Encuéntrame en las redes:
        .redes__item-container
          .redes__item-icon
            a(href="https://www.instagram.com/ohdearcoffee/" target="blank")
              i(class="fab fa-instagram")
          .redes__item-user
            a(href="https://www.instagram.com/ohdearcoffee/" target="blank") instagram: 
              span @ohdearcoffee
        .redes__item-container
          .redes__item-icon
            a(href="https://www.pinterest.at/ohdearcoffee_/_created/" target="blank")
              i(class="fab fa-pinterest")
          .redes__item-user
            a(href="https://www.pinterest.at/ohdearcoffee_/_created/" target="blank") pinterest: 
              span @ohdearcoffee_
        .redes__item-container
          .redes__item-icon
            a(href="https://www.facebook.com/ohdearcoffee" target="blank")
              i(class="fab fa-facebook")
          .redes__item-user
            a(href="https://www.facebook.com/ohdearcoffee" target="blank") facebook: 
              span @ohdearcoffee