section#contacto.section__contacto
  .contacto__container
    h2 Contacto
    span.contacto__more ¡Dejame tu mensaje!
    a(href="#").contacto__more--link o un mail: info@ohdearcoffee
    .contacto__medios-container
      .contacto__form-container
        form(action="").form-contact#form-contacto
          .form-contact__field
            input(type="text" placeholder="Tu Nombre").form-contact__input#form-contacto-name
            span.form__alert Acá va un texto de alerta
          .form-contact__field
            input(type="mail" placeholder="Tu Mail").form-contact__input#form-contacto-mail
            span.form__alert Acá va un texto de alerta
          .form-contact__field
            select(name="teconoci").form-contact__select
              option(value="conoci-instagram") Te conocí en Instagram
              option(value="conoci-pinterest") Te conocí en Pinterest
              option(value="conoci-facebook") Te conocí en Facebook
              option(value="conoci-motofeca") Te conocí en Motofeca
              option(value="conoci-otrositio") Te conocí en Otro sitio...
            span.custom-arrow
          .form-contact__field
            textarea(placeholder="Dejame tu mensaje").form-contact__msj#form-contacto-msj
            span.form__alert Acá va un texto de alerta
          .form-contact__field
            input(type="submit" value="Enviar!").form-contact__submit
      .contacto__redes-container
        h3.redes__titulo Encontrame en las redes:
        .redes__item-container
          .redes__item-icon
            a(href="https://www.instagram.com/ohdearcoffee/" target="blank")
              i(class="fab fa-instagram")
          .redes__item-user
            a(href="#" target="blank") instagram: 
              span @ohdearcoffee
        .redes__item-container
          .redes__item-icon
            a(href="https://www.pinterest.at/ohdearcoffee_/_created/" target="blank")
              i(class="fab fa-pinterest")
          .redes__item-user
            a(href="#" target="blank") pinterest: 
              span @ohdearcoffee_
        .redes__item-container
          .redes__item-icon
            a(href="https://www.facebook.com/ohdearcoffee" target="blank")
              i(class="fab fa-facebook")
          .redes__item-user
            a(href="#" target="blank") facebook: 
              span @ohdearcoffee