section#cursos.section__cursos
  .cursos__container
    h2 Cursos
    span.cursos__more Workshops & Masterclass de Café
    a(href="#cursos").cursos__more--link#cursos-action Más info haciendo click acá
    .cursos__todos-container
      article.curso__info.curso__fundamentos
        .curso__data-container
          .curso__header
            .curso__icon
              img(src="./assets/icons/coffee/coffee-bean.svg", alt="")
            h3.curso__title Barista Inicial
          .curso__description
            span.curso__type Modalidad: Curso Corto
            span.curso__length Duración: 2 Clases de 2hs
          p.curso__intro Este curso esta destinado a todos los amantes del café que quieran aprender de todo el proceso que lleva el café y enseña las reglas principales para trabajar de manera eficaz en una cafetería de especialidad.
        .curso__temas-container
          .curso__header--sec
            .curso__icon
              img(src="./assets/icons/coffee/tool-filter.svg", alt="")
            h3.curso__title.curso__title--sec Aprenderemos
          ul.curso__temas-list
            li.curso__temas-item · Historia del café
            li.curso__temas-item · Botánica - Recolección - Procesos
            li.curso__temas-item · Tueste
            li.curso__temas-item · Maquina espresso y molinos
            li.curso__temas-item · Un buen espresso
            li.curso__temas-item · Limpieza y mantenimiento
          a(href="#cursos").curso__cta#curso2-action Próximamente Disponible
      article.curso__info.curso__filtrados
        .curso__data-container
          .curso__header
            .curso__icon
              img(src="./assets/icons/coffee/tool-kettle-extra.svg", alt="")
            h3.curso__title Filtrados
          .curso__description
            span.curso__type Modalidad: Taller
            span.curso__length Duración: 1 Clase de 3hs
          p.curso__intro Este curso esta destinado a todos los amantes del café que quieran aprender de todo el proceso que lleva el café y enseña las reglas principales para trabajar de manera eficaz en una cafetería de especialidad.
        .curso__temas-container
          .curso__header--sec
            .curso__icon
              img(src="./assets/icons/coffee/metodo-v60-extra.svg", alt="")
            h3.curso__title.curso__title--sec Aprenderemos
          ul.curso__temas-list
            li.curso__temas-item · ¿Qué es un café filtrado?
            li.curso__temas-item · Agua ideal
            li.curso__temas-item · Diferentes métodos
            li.curso__temas-item · Moliendas
            li.curso__temas-item · Tipos de filtros
            li.curso__temas-item · ¿Cómo hacer la receta ideal?
          a(href="#cursos").curso__cta#curso1-action Próximamente Disponible