section#guias.section__guias
  .guias__container
    .guias__header
      h2.guias__title Guias
      p.guias__subtitle ¿Preparado para aprender mucho sobre lo que encuentras detrás de la taza de café?
    .guias__icons
      img(src="./assets/icons/coffee/tool-kettle.svg", alt="")
      img(src="./assets/icons/coffee/barista-01.svg", alt="")
      img(src="./assets/icons/coffee/tool-grinder.svg", alt="")
      img(src="./assets/icons/coffee/coffee-fruit.svg", alt="")
      img(src="./assets/icons/coffee/coffee-bag.svg", alt="")
      img(src="./assets/icons/coffee/art-01.svg", alt="")
    .guias__footer
      p.guias__text Guía gratis para amantes del café:
      a(href="#guias").guias__cta#guias-action
        span descargar guia