section#recetas.section__recetas
  .recetas__container
    .recetas__header
      h2.recetas__title Recetas
      p.recetas__subtitle ¿Estas listo para hacer café con diferentes métodos y técnicas?
    .recetas__icons
      img(src="./assets/icons/coffee/metodo-aeropress.svg", alt="")
      img(src="./assets/icons/coffee/metodo-filter.svg", alt="")
      img(src="./assets/icons/coffee/metodo-chemex.svg", alt="")
      img(src="./assets/icons/coffee/metodo-v60.svg", alt="")
      img(src="./assets/icons/coffee/metodo-frenchpress.svg", alt="")
      img(src="./assets/icons/coffee/metodo-siphon.svg", alt="")
    .recetas__footer
      p.recetas__text Acá te comparto mis favoritas:
      a(href="http://ohdearcoffee.com/wordpress/category/recetas/" target="_blank").recetas__cta 
        span Ver recetas