extend ../templates/template.pug
block content
  include ../includes/secciones/bio.pug
  include ../includes/secciones/recetas.pug
  include ../includes/secciones/blog.pug
  //- include ../includes/secciones/cursos.pug
  include ../includes/secciones/guias.pug
  include ../includes/secciones/contacto.pug
block scripts
  script(src="./js/scripts.js") 