extend ../templates/template.pug
block content
  section#bio
    h2 SOBRE MI
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reiciendis obcaecati sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
  section#blog
    h2 BLOG
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reiciendis obcaecati sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
  section#recetas
    h2 RECETAS
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reiciendis obcaecati sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
  section#cursos
    h2 CURSOS
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reiciendis obcaecati sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
  section#guias
    h2 GUIAS
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reiciendis obcaecati sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
  section#contacto
    h2 CONTACTO
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reiciendis obcaecati sed rerum temporibus ipsum voluptate nostrum eum quibusdam, voluptates dicta. Saepe aspernatur facere in neque? Temporibus quae officiis nulla.
block scripts
  script(src="./js/scripts.js") 