//- MIXINS



//- VARIABLES

//- Titulos y descripciones varias
    para website y opengraph protocol

- let sitetitle = 'OH DEAR Coffee - Recetas, Guias, Cursos y Pasión por el Café'
- let sitedescription = 'Un espacio dedicado a todos los amantes del café'



//- ARRAYS & OBJETOS

//- Secciones contenidas en el navbar (tablet++)
    y en el menú hamburguesa (mobile & landscape)
-
  let navLinks = {
    'Inicio': '#header',
    'Sobre Mi': '#bio',
    'Cursos': '#cursos',
    'Guias': '#guias',
    'Recetas': '#recetas',
    'Blog': '#blog',
    'Contacto': '#contacto',
  }

-
  let navSocials = {
    'instagram': 'http://instagram.com',
    'twitter': 'http://twitter.com',
    'pinterest': 'http://facebook.com',
  }