//- MIXINS

include ../mixins/sectionTitle.pug
include ../mixins/artsBlog.pug



//- VARIABLES

//- Titulos y descripciones varias
    para website y opengraph protocol

- let siteTitle = 'OH DEAR Coffee - Recetas, Guias, Cursos y Pasión por el Café'
- let siteDescription = 'Un espacio dedicado a todos los amantes del café'



//- ARRAYS & OBJETOS

//- Secciones contenidas en el navbar (tablet++)
    y en el menú hamburguesa (todos dispositivos)
-
  let navLinks = {
    'Inicio': 'header',
    'Sobre Mí': 'bio',
    'Blog': 'blog',
    'Recetas': 'recetas',
    'Cursos': 'cursos',
    'Guías': 'guias',
    'Contacto': 'contacto',
  }

-
  let navSocials = {
    'instagram': 'https://www.instagram.com/ohdearcoffee/',
    'pinterest': 'https://www.pinterest.at/ohdearcoffee_',
    'facebook': 'https://www.facebook.com/ohdearcoffee',
  }