//- meta

meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='robots' content='follow, index')
meta(name='description' content=''+ siteDescription)
meta(name='author' content='dosunouno.dev / Martín Fernández')
title= `${siteTitle}`

//- open graph protocol

meta(property='og:title' content=''+ siteTitle)
meta(property='og:type' content='Un website dedicado al café')
meta(property='og:description' content=''+ siteDescription)
meta(property='og:url' content='https://ohdearcoffee.com')
meta(property='og:image' content='https://ohdearcoffee.com/assets/icons/cup-full.png')

//- css

link(rel='stylesheet' href='./css/styles.css')


//- fonts

//- Font-face de Avenir & Paulsignature


//- favicons

link(rel="icon", type="image/png", sizes="32x32", href="./assets/icons/favicons/favicon-32x32.png")


//- icons

script(src="https://kit.fontawesome.com/6043d9e4ba.js", crossorigin="anonymous")