footer.footer#footer
  .footer__container
    .footer__picture-container
      img(src="./assets/images/ilus-full.png", alt="Ilustración de OHDEARCoffee con un café en mano").footer__picture-img
    ul.footer__socials#footersocials
      li.footer__socials-item
        span Redes 
      each url, icon in navSocials
        li.footer__socials-item
          a(href=""+url target="_blank")
            i(class="fab fa-"+icon)
    nav.footer__links
      each link, nombre in navLinks 
        li.footer__links-item
          a(href="#"+link) #{nombre}
    .footer__newsletter
      h2 Suscribete al newsletter
      p Y recibe todas las novedades
      form(action="").form-footer#form-footer
        .form-footer__field
          input(type="text" placeholder="Tu Nombre").form-footer__input#form-footer-name
          span.form__alert Acá va un texto de alerta
        .form-footer__field
          input(type="email" placeholder="Tu Mail").form-footer__input#form-footer-mail
          span.form__alert Acá va un texto de alerta
        .form-footer__field 
          input(type="submit" value="Enviar").form-footer__submit
  .footer-copy
    .footer-copy__container
      p &copy 2021 - 
        span
          a(href="#bio") OHDEARCoffee
      p Desarrollo web: 
        span
          a(href="http://dosunouno.dev" target="blank") dosunouno.dev
      p Icons by: 
        span
          a(href="https://www.flaticon.com/authors/ddara" target="blank") dDara