footer.footer#footer
  .footer__container
      .footer-items
        .footer__picture
          .footer__picture-container
            img(src="./assets/images/ilus-full.png", alt="Ilustración de OHDEARCoffee con un café en mano").footer__picture-img
        nav.footer__links
        .footer__newsletter
      .footer-copy