footer.footer#footer
  .footer__container
    .footer__picture-container
      img(src="./assets/images/ilus-full.png", alt="Ilustración de OHDEARCoffee con un café en mano").footer__picture-img
    ul.footer__socials#footersocials
      li.footer__socials-item
        span Redes 
      each url, icon in navSocials
        li.footer__socials-item
          a(href=""+url target="_blank")
            i(class="fab fa-"+icon)
    nav.footer__links
      each link, nombre in navLinks 
        li.footer__links-item
          a(href="#"+link) #{nombre}
    .footer__newsletter
      h2 Suscribete al newsletter
      p Y recibe todas las novedades
      form(action="" id="footer-newsletter")
        .form__field
          input(type="text" placeholder="Tu Nombre" id="footer-nombre" required).form__input
          span no puede estar vacio
        .form__field
          input(type="email" placeholder="Tu Mail" id="footer-mail" required).form__input
          span el mail ingresado es invalido
        .form__field 
          input(type="submit" value="Enviar" id="footer-enviar" class="form__submit")
  .footer-copy
    .footer-copy__container
      p &copy 2021 - 
        span
          a(href="#bio") OHDEARCoffee
      p Desarrollo web: 
        span
          a(href="http://dosunouno.dev" target="blank") dosunouno.dev
      p Icons by: 
        span
          a(href="https://www.flaticon.com/authors/ddara" target="blank") dDara