//- CONTENEDOR HERO
    LADO IZQUIERDO: TEXTOS (hero__content)
    LADO DERECHO: ILUS (hero__picture)

section.hero#hero
  .hero__content
    h1.hero__title Al café para 
      span.hero__title--em explorarlo
      span.hero__title-span te invito a 
        span tomarlo
    p.hero__text Mi 
      span.hero__text--em
        a(href="#guias") guía 100% gratuita 
      | para los amantes del café y 
      span.hero__text--em
        a(href="#blog") un blog lleno de contenido 
      |
      span.hero__text--hide te esperan 
      | a un click de distancia...
    .hero__ctas
      a(href="#guias").hero__cta--guias
        span quiero mi guía      
      a(href="#blog").hero__cta--cursos
        span ir al blog
  .hero__picture
    .hero__picture-container
      img(src="./assets/images/ilus-full.png", alt="Ilustración de OHDEARCoffee con un café en mano").hero__picture-img