//- CONTENEDOR HERO
    LADO IZQUIERDO: TEXTOS (hero__content)
    LADO DERECHO: ILUS (hero__picture)

section.hero#hero
  .hero__content
    h1.hero__title Al café para 
      span.hero__title--em explorarlo
      span.hero__title-span te invito a 
        span tomarlo
    p.hero__text Guías  
      span.hero__text--em
        a(href="#guias") gratuitas 
      | para preparar recetas increíbles y cursos 
      span.hero__text--em
        a(href="#cursos") súper completos 
      | te esperan a un click de distancia...
    .hero__ctas
      a(href="#guias").hero__cta--guias
        span quiero mi guia      
      a(href="#cursos").hero__cta--cursos
        span ver los cursos
  .hero__picture
    .hero__picture-container
      img(src="./assets/images/ilus-full.png", alt="Ilustración de OHDEARCoffee con un café en mano").hero__picture-img