section.hero#hero
  .hero__content
    h1.hero__title Al café para descubrirlo
      span.hero__title-span te invito a probarlo!
    p.hero__text Guias 
      span.hero__text--em gratuitas 
      | para preparar recetas increibles y cursos 
      span.hero__text--em súper completos 
      | te esperan a un click de distancia...
    .hero__ctas
      a(href="#guias").hero__cta--guias quiero mi guia
      a(href="#cursos").hero__cta--cursos ver los cursos
  .hero__picture
    .hero__picture-container
      img(src="./assets/images/ilus-full.png", alt="Ilustración de OHDEARCoffee con un café en mano").hero__picture-img