section.modals#modals.hide
  .close-all#close-all
    span cerrar


  .modal__guias#modal-guias.hide
    h2.modal__guias-title La guía es 100%
      span ¡gratis!
    p.modal__guias-subtitle Solo tienes que registrarte:
    .form-guias__container
      form(action="https://formsubmit.co/emmefdz@gmail.com" method="POST" target="_blank").form-guias#form-guias
        input(type="hidden" name="_next" value="http://ohdearcoffee.com/guia.pdf")
        input(type="hidden" name="_captcha" value="false")
        input(type="hidden" name="_subject" value="Nueva descarga de guia en OHDEARCOFFEE.com")
        input(type="text" name="_honey" style="display:none")
        .form-guias__field
          input(type="/text" name="name" placeholder="Tu Nombre").form-guias__input#form-guias-name
          span.form__alert Acá va un texto de alerta
        .form-guias__field
          input(type="email" name="email"  placeholder="Tu Mail").form-guias__input#form-guias-mail
          span.form__alert Acá va un texto de alerta
        .form-guias__field 
          input(type="submit" value="Enviar").form-guias__submit
  

  .modal__cursos#modal-cursos.hide
    .modal__curso-icon-container.small-iconxs
      img(src="./assets/icons/coffee/barista-01.svg", alt="").modal__curso-icon
    h2.modal__curso-title Preguntas Frecuentes
    .faq-container
      .faq-item
        p.faq-question ¿Necesito tener experiencia previa o herramientas?
        p.faq-answer No, no hace falta tener ninguna experiencia o herramientas, solo ganas de aprender.
      .faq-item
        p.faq-question ¿Puede ser de forma presencial?
        p.faq-answer.none No, son cursos 100% online.
      .faq-item
        p.faq-question ¿Puedo pagar por otro medio de pago?
        p.faq-answer.none No, únicamente PayPal y Mercado pago.
      .faq-item
        p.faq-question Si para esta fecha no puedo anotarme, ¿Cuándo será el siguiente?
        p.faq-answer.none Cada mes estaré anunciando las próximas fechas, así que esta atento.
    .modal__cursos-moreinfo
      p.modal__cursos-moreinfo--text Si tienes alguna duda:
      p.modal__cursos-moreinfo--mail info@ohdearcoffee.com
      p.modal__cursos-moreinfo--rotate Gira tu dispositivo para ver preguntas y respuestas!


  .modal__cursos--curso1#modal-curso1.hide
    .modal__curso-icon-container
      img(src="./assets/icons/coffee/tool-kettle-extra.svg", alt="").modal__curso-icon
    h2.modal__curso-title Taller de Filtrados
    p.modal__curso-price Precio Final:
      span $600
      span (5u$d)
    .modal__curso-paycontainer
      a(href="http://mercadolibre.com" target="blank").shopbtn.shop--mp pagar con mercadopago 
      a(href="http://paypal.com" target="blank").shopbtn.shop--pp pagar con paypal 
    p.modal__curso-infoextra Más Info > Click acá:


  .modal__cursos--curso2#modal-curso2.hide
    .modal__curso-icon-container.small-icon
      img(src="./assets/icons/coffee/coffee-bean.svg", alt="").modal__curso-icon
    h2.modal__curso-title Curso de Fundamentos de Café
    p.modal__curso-price Precio Final:
      span $1200
      span (10u$d)
    .modal__curso-paycontainer
      a(href="http://mercadolibre.com" target="blank").shopbtn.shop--mp pagar con mercadopago 
      a(href="http://paypal.com" target="blank").shopbtn.shop--pp pagar con paypal 
    p.modal__curso-infoextra Más Info > Click acá: