//- CONTENEDOR NAVBAR
    LADO IZQUIERDO: LOGOS (logo-container > cup & text)
    LADO DERECHO: MENUS -//
nav
  .nav-container
    .nav__logo-container

      .nav__logo-cup#nav__logo-cup
        a(href="#header")
          img(src="./assets/icons/cup-only.png", alt="Logo de OHDEARCoffee taza naranja").nav__logo-img

      .nav__logo-text#nav__logo-text
        a(href="#header")
          img(src="./assets/logos/horiz-black.png", alt="Logo de OHDEARCoffee en texto").nav__logo-img


    .nav__menu-container


      .nav__menu-bar#nav__menu-bar

        ul.bar__links-container
          each link, nombre in navLinks 
            a(href="#"+link id="btn-bar-"+link).bar__links-item
              li #{nombre}

        ul.bar__socials-container
          each url, icon in navSocials
            li.bar__socials-item
              a(href=""+url target="_blank")
                i(class="fab fa-"+icon)


      .nav__menu-lists.hide#nav__menu-lists

        ul.list__links-container
          each link, nombre in navLinks 
            a(href="#"+link id="btn-list-"+link).list__links-item
              li #{nombre}

        ul.list__socials-container
          each url, icon in navSocials
            li.list__socials-item
              a(href=""+url target="_blank")
                i(class="fab fa-"+icon)
          li.list__socials-item
            a(href="#newslatter")#btn-list-newslatter Suscribirse


      .nav__menu-btn#nav__menu-btn
        .menu-btn