//- CONTENEDOR PRINCIPAL DEL NAVBAR
    LADO IZQUIERDO: LOGOS
    LADO DERECHO: MENUS -//

nav.nav__container
  .nav__logo-container
    .nav__logo-cup
      a(href="#header")
        img(src="./assets/icons/cup-only.png", alt="Logo de OHDEARCoffee taza naranja").nav__logo-img
    .nav__logo-text
      a(href="#header")
        img(src="./assets/logos/horiz-black.png", alt="Logo de OHDEARCoffee en texto").nav__logo-img
  .nav__menu-container
    ul.nav__links-container
      each link, seccion in navLinks 
        li.nav__links-item
          a(href=""+link) #{seccion}
    .nav__menu
      .menu-btn