/*! -------------------------
Footer
-------------------------- */

@use "../abstract" as *;

.footer {
  color: $color-bg;
  background-color: $color-text;
}

.footer__container {
  background-color: red;
}