/*! -------------------------
Footer
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;

.footer {
  color: $color-bg;
  background-color: $color-text;
}

.footer__container {
  @include flex(column, flex-start, center);
  padding: 40px 0;
  @media screen and (min-width:700px) {
    @include flex(row, space-between,flex-start);
  }
}

.footer__socials {
  order: 4;
  width: 220px;
  height: 50px;
  background-color: $color-bg-primary;
  border-radius: 10px;
  @media screen and (min-width:700px) {
    width: 50px;
    height: 220px;
    margin-bottom: 0px;
    order: 1;
  }
}

.footer__picture-container {
  order: 1;
  height: 220px;
  margin-bottom: 40px;
  @media screen and (min-width:700px) {
    margin-bottom: 0px;
    order: 2;
  }

  .footer__picture-img {
    display: block;
    height: 100%;
  }
}

.footer__links {
  order: 3;
  @include flex(column, space-between,center);
  height: 220px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  .footer__links-item {
    text-align: start;
    font-size: 2.0rem;
    font-weight: 600;
    a {
      letter-spacing: 1px;
      text-decoration: none;
      color: $color-secondary;
      @include transition(.3s, .1s, linear, text-decoration, color, font-weight);
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          font-weight: 400;
          text-decoration: underline;
          color: $color-extra;
        }
      }
    }
  }
  @media screen and (min-width:700px) {
    align-items: flex-start;
    margin-bottom: 0px;
  }
}


.footer__newsletter {
  order: 2;
  display: flex;
  flex-direction: column;
  height: 220px;
  margin-bottom: 40px;
  background-color: rgba($color-text, .8);

  h2 {
    font-size: $size-lg1;
    @include laptop {
      font-size: $size-lg2;
    }
  }
  p {
    margin-bottom: 10px;
    font-size: $size-md3;
    color: $color-primary;
  }

  form {
    .form__input {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      border: 2px solid $color-secondary;
      border-radius: 10px;
      background-color: transparent;
      &::placeholder {
        font-size: inherit;
        color: $color-label;
      }
    }
    .form__submit {
      width: 100%;
      height: 40px;
      color: white;
      font-weight: 600;
      background-color: $color-primary;
      border-radius: 10px;
      border: 0;
      cursor: pointer;
      @include transition(.3s, 0s, linear, background-color, color);
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          color: $color-primary;
          background-color: $color-bg-primary;
        }
      }
    }
  }
  @media screen and (min-width:700px) {
    margin-bottom: 0px;
    order: 4;
  }
}



.footer-copy {
  @include flex-center(column);
  width: 100%;
  margin: 0;
  padding: 20px 0;
  background-color: lighten($color-text, 4%);
  @include landscape {
    flex-direction: row;
  }

  p {
    margin: 0 20px;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    span {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-secondary;
      a {
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-extra;
          text-decoration: underline;
        }
      }
    }
    &:last-child {
      margin-top: 10px;
      @include landscape {
        margin-top: 0;
      }
    }
  }
}


main {
  display: none;
}