/*! -------------------------
Footer
-------------------------- */

@use "../abstract" as *;

.footer {
  @include flex(column, initial, center);
  color: $color-bg;
  background-color: $color-text;
}

.footer__container {
  background-color: red;
}