/*! -------------------------
Header
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;


// HEADER con 100% de vh
// Padding top y bottom de 20px
// El width tiene 100% - 40px (en layout)
// La alineacion vertical del contenido es top
// ** En el hero (mobile) la ilustracion ocupa el resto de pantalla

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 40px);
  padding: 20px 0px;
  background-color: $color-bg-primary;
}