/*! -------------------------
Header
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;


// HEADER con 100vh de minheight
// El width tiene 100% (en base)
// Navbar y Hero tienen width 100% - 40px (en layout)
// La alineacion vertical del contenido es top
// ** En el hero (mobile) la ilustracion ocupa el resto de pantalla

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  padding-top: 20px;
  background-color: $color-bg-primary;
  @include tablet {
    min-height: initial;
  }
}