/*! -------------------------
Hero
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;


// HERO

// HERO con 100vh de height para hacer pleno vertical
// Menos 70px (50 navbar, 20 mtop)

.hero {
  overflow: hidden;
  @include flex(column, flex-start, center);
  height: calc(100vh - 70px);
  margin-top: 70px;
  @include landscape {
    @include flex(row, space-between, center);
  }
  @include tablet {
    height: initial;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../assets/bgs/tabletplus.png');
    background-size: cover;
    background-position-y: 20px;
    // background-repeat: no-repeat;
  }

  @include laptop {
    background-size: initial;
    background-position: initial;
  }
}


// HERO -- CONTENT (TITLE, TEXTS Y CTAS)

// El maxwidth es para contener los textos en displays grandes
// El width es de 100% - el tamaño del hero__picture
// Tiene padding right para alejar el texto en tablet++

.hero__content {
  @include flex(column, initial, center);
  max-width: 340px;
  @include tablet {
    width: calc(100% - 240px);
    max-width: 400px;
  }
  @include laptop {
    width: calc(100% - 300px);
    max-width: 500px;
  }
}


// HERO -- TITLE

// Encabezado del hero
// Tamaño de fuente aumenta segun display

.hero__title {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  @include landscape {
    margin-bottom: 10px;
  }
  @include tablet {
    text-align: start;
    margin-bottom: 20px;
  }

  .hero__title--em {
    display: block;
    font-size: inherit;
    font-weight: 600;
  }

  .hero__title-span {
    display: block;
    margin-top: 5px;
    font-size: 1.8rem;
    font-weight: 400;
    @include tablet {
      font-size: 2.4rem;
    }
    @include laptop {
      font-size: 3.2rem;
    }
    span {
      font-weight: 600;
    }
  }
}


// HERO -- TEXT

// Parrafo del hero
// Tamaño de fuente aumenta segun display
// Tiene palabras destacadas en bold/colores

.hero__text {
  text-align: center;
  @include landscape {
    margin-bottom: 10px;
  }
  @include tablet {
    text-align: start;
    margin-bottom: 20px;
  }

  .hero__text--hide {
    display: none;
    @media screen and (min-width: 327px) {
      display: initial;
    }
  } 

  .hero__text--em {
  font-weight: 600;
    a {
      color: inherit;
      text-decoration: none;
    }
    &:nth-child(1) {
      color: $color-secondary;
      &:hover {
        color: $color-extra;
      }
    }
    &:nth-child(2) {
      color: $color-extra;
      &:hover {
        color: $color-secondary;
      } 
    }
  }
}


// HERO -- CALL TO ACTIONS

// Ctas del Hero
// Tamaño ajustable con flex
// Text lenght acotado segun dispositivo

.hero__ctas {
  @include flex(column, space-between);
  width: 100%;
  margin-bottom: 20px;
  @include landscape {
    flex-direction: row;
  }
  @include tablet {
    padding-right: 20px;
  }
}


// HERO -- PICTURE

// Div para la imagen
// Visible abajo en dispositivos pequeños 
// y a la derecha en landscape++ (ajustado en hero)

.hero__picture {
  width: 100%;
  height: 100%;
  @include flex-center;
  @include tablet {
    width: 240px;
  }
  @include laptop {
    width: 300px;
  }
}

.hero__picture-container {
  width: 150px;
  @media screen and (min-width: 420px) {
    width: 170px;
  }
  @include tablet {
    width: 100%;
  }
}

.hero__picture-img {
  display: block;
  width: 100%
}