/*! -------------------------
Layout
-------------------------- */

@use "../abstract" as *;


// CONTENEDORES CENTRADAS
// max-width 1200px (variables)
// margin-x = 20px

.nav-container,
.hero,
.footer__container,
.bio__container,
.blog__container,
.recetas__container,
.cursos__container,
.guias__container,
.contacto__container,
.footer-copy__container {
  width: calc(100% - 40px);
  max-width: $max-width;
  margin: 0 auto;
}

// SETUP GENERAL DE SECCIONES (no header)
// Todas tienen margen para scroll de 70px
// ** el height del navbar
// ** +20px en mobile y +40px en tablet++
// Todas tienen margen top de 60px mobile y 120px tablet ++

main section {
  margin-top: 60px;
  scroll-margin: 90px;
  @include tablet {
    scroll-margin: 110px;
    margin-top: 120px;
  }
}

// HIDE 
// Helper para esconder con fade
// No acepta eventos de puntero
// opacity 0 - no afecta al display

.hide {
  opacity: 0;
  pointer-events: none;
}