/*! -------------------------
Navbar
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;


// NAVBAR

// Navbar visible en todos los dispositivos
// Ajustable segun vw

.nav__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}


// NAVBAR -- LOGOS

// Logos (Taza y Marca) 
// Siempre a la izquierda

.nav__logo-container {
  display: flex;
  align-items: flex-start;
  width: 240px;
}

.nav__logo-cup {
  width: 40px;
}

.nav__logo-text {
  width: 200px;
}

.nav__logo-img {
  display: block;
  width: 100%;
}


// NAVBAR -- MENUS

// Contenedor de menu
// FULL DISPLAY: Links y Redes
// Ajustable segun vw (hamburger)

.nav__menu-container {
  display: flex;
  justify-content: flex-end;
}


// NAVBAR -- LINKS

// Links a secciones, visible en laptop++
// Menu fullscreen en dispositivos pequeños

.nav__links-container {
  display: none;
  overflow: hidden;
  background-color: $color-bg-secondary;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  // padding: ;
}


// NAVBAR -- MENU-BURGER

// Boton animado para desplegar menu
// Solo visible en dispositivos pequeños

.nav__menu {
  position: relative;
  width: 30px;
  height: 30px;
  @include laptop {
    display: none;
  }
}

.menu-btn {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 15px);
  width: 30px;
  height: 4px;
  background-color: $color-secondary;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 30px;
  height: 4px;
  background-color: $color-primary;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 4px;
  background-color: $color-extra;
}