/*! -------------------------
Navbar
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;


// NAVBAR

// Navbar visible en todos los dispositivos
// Position fixed
// Incluye un nav__container con max-width: 100% -40px
// NAV LOGO CONTAINER (tiene 2 logos)
// NAV MENU CONTAINER (tiene bar . list - btn)

.nav {
  background-color: $color-bg-primary;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}


// NAVBAR -- LOGOS

// Logos (Taza y Marca) 
// Siempre a la izquierda

.nav__logo-container {
  display: flex;
  align-items: flex-start;
  width: 240px;
}

.nav__logo-cup {
  width: 40px;
  height: 30px;
}

.nav__logo-text {
  width: 200px;
}

.nav__logo-img {
  display: block;
  width: 100%;
}


// NAVBAR -- MENUS

// Contenedor de menus
// Incluye:
// menu-bar (con links y socials)
// menu-lists (con links y socials)
// menu-btn (con boton animable)

.nav__menu-container {
  @include flex(row, flex-end);
  width: 100%;
}


// NAVBAR -- MENU-BURGER

// Boton animado para desplegar menu
// ** Opcional display none
// ** Solo visible hasta tablet inclusive

.nav__menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  @include laptop {
    // display: none;
  }
}
