/*! -------------------------
Navbar
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;


// NAVBAR

// Navbar visible en todos los dispositivos
// Position fixed
// Incluye un nav__container con max-width: 100% -40px

.nav {
  background-color: $color-bg-primary;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}


// NAVBAR -- LOGOS

// Logos (Taza y Marca) 
// Siempre a la izquierda

.nav__logo-container {
  display: flex;
  align-items: flex-start;
  width: 240px;
}

.nav__logo-cup {
  width: 40px;
  height: 30px;
}

.nav__logo-text {
  width: 200px;
}

.nav__logo-img {
  display: block;
  width: 100%;
}


// NAVBAR -- MENUS

// Contenedor de menu
// Incluye:
// ** menu-lists (con links y socials)
// ** menu-btn (con boton animable)

.nav__menu-container {
  display: flex;
  justify-content: flex-end;
}


// NAVBAR -- MENU LIST

// Incluye links (secciones) y socials (rrss)
// Menu fullscreen hasta tablet -inclusive-

.nav__menu-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 70px);
  padding: 20px;
  background-color: $color-bg-secondary;
  


// NAVBAR -- MENU LIST -- LINKS
// Lista de Secciones

  .nav__links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    height: calc(100vh - 160px);
    
    .nav__links-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 2px solid $color-bg;
      background-color: $color-bg-extra;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-bg
      }
    }

    @media screen and (orientation: landscape) and (max-height: 512px) and (max-width: 768px){
      flex-direction: row;
      .nav__links-item {
        writing-mode: vertical-rl;
        text-orientation: upright;
        height: 100%;
        margin-right: 10px ;
        margin-bottom: 0;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }


  // NAVBAR -- MENU LIST -- SOCIALS
  // Lista de Redes sociales

  .nav__socials-container {
    display: flex;
    justify-content: space-around;
    width: 150px;
    
    .nav__socials-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      
      a {
        font-size: 2.6rem;
        line-height: 2.6rem;
        color: $color-bg-extra;
      }
    }
  }
}


// NAVBAR -- MENU-BURGER

// Boton animado para desplegar menu
// Solo visible en dispositivos pequeños

.nav__menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  @include laptop {
    display: none;
  }
}

.menu-btn {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 15px);
  width: 30px;
  height: 4px;
  background-color: $color-secondary;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 30px;
  height: 4px;
  background-color: $color-primary;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 4px;
  background-color: $color-extra;
}