/*! -------------------------
Bio
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;

.bio__content {
  display: flex;
  flex-direction: column;
  div {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px auto auto 40px 200px 40px 250px auto 40px auto auto 40px 120px 40px 150px 100px 40px;
    width: 100%;
  }
}

.bio__txt {
  @include flex(column, center);
  padding: 20px;
  color: $color-bg;
  @include transition(0.5s, 0, linear, opacity);
  p {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    span {
      font-size: 1.8rem;
      font-weight: 600;
    }
    @include tablet {
      font-size: 1.8rem;
      span {
        font-size: 2.0rem;
      }
    }
  }
}

.bio__more,
.bio__more2 {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  @include tablet {
    display: none;
    }
  }

.bio__txt1 {
  order: 1;
  grid-column: 2 / span 4;
  grid-row: 1 / span 3;
  background-color: $color-secondary;
  width: 80%;
  @include tablet {
    width: 100%;
  }
  h2 {
    color: inherit;
    margin-bottom: 20px;
  }
  p {
    @include tablet {
      width: 75%;
    }
  }
}

.bio__txt2 {
  order: 3;
  grid-column: 7 / span 5;
  grid-row: 2 / span 3;
  background-color: $color-extra;
  align-items: flex-end;
  width: 80%;
  align-self: flex-end;
  @include tablet {
    width: 100%;
  }
  p {
    @include tablet {
      width: 80%;
    }
  }
}

.bio__txt3 {
  order: 4;
  grid-column: 4 / span 6;
  grid-row: 8 / span 2;
  background-color: $color-primary;
  align-items: center;
  width: 80%;
  align-self: flex-end;
  @include tablet {
    width: 100%;
  }
  p {
    @include tablet {
      width: 60%;
    }
  }
  p:last-child {
    @include tablet {
      // width: 80%;
      // align-self: flex-end;
    }
  }
}

.bio__txt4 {
  order: 7;
  grid-column: 2 / span 5;
  grid-row: 11 / span 2;
  background-color: $color-extra;
  z-index: 10;
  width: 80%;
  align-self: flex-start;
  @include tablet {
    width: 100%;
  }
  p {
    font-weight: 600;
    line-height: 1.3;
    font-style: italic;
    text-align: center;
  }
}

.bio__txt5 {
  order: 8;
  grid-column: 8 / span 5;
  grid-row: 12 / span 3;
  background-color: $color-secondary;
  z-index: 10;
  width: 80%;
  align-self: flex-start;
  @include tablet {
    width: 100%;
  }
}

.bio__txt6 {
  order: 10;
  grid-column: 2 / span 4;
  grid-row: 17 / span 2;
  background-color: $color-primary;
  z-index: 10;
  margin-bottom: 0;
  p {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3;
    font-style: italic;
    text-align: center;
    span {
      font-size: 2.0rem;
    }
  }
}

.bio__txt.display__none {
  display: none;
  opacity: 0;
  @include tablet {
    display: flex;
    opacity: 1;
  }
}


.bio__img {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bio__img1 {
  order: 2;
  grid-column: 5 / span 3;
  grid-row: 3 / span 4;
  z-index: 10;
  width: 80%;
  align-self: center;
  @include tablet {
    width: 100%;
    align-self: initial;
  }
}

.bio__img2 {
  display: none;
  order: 5;
  grid-column: 9 / span 4;
  grid-row: 6 / span 3;
  width: 80%;
  align-self: flex-end;
  @include tablet {
    display: initial;
    width: 100%;
    align-self: initial;
  }
}

.bio__img3 {
  order: 6;
  grid-column: 1 / span 4;
  grid-row: 9 / span 3;
  width: 80%;
  align-self: center;
  @include tablet {
    width: 100%;
    align-self: initial;
  }
  img {
    object-position: left;
  }
}

.bio__img4 {
  order: 9;
  grid-column: 5 / span 4;
  grid-row: 14 / span 4;
  width: 80%;
  align-self: center;
  @include tablet {
    width: 100%;
    align-self: initial;
  }
  img {
    object-position: center bottom;
  }
}