/*! -------------------------
Blog
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;

.blog__container {
  @include flex(column, initial, center);
  h2 { 
    margin-bottom: 20px;
    // font-family: 'odc-paulsignature';
    // font-size: 6.0rem;
    // font-weight: 400;
  }
  span {
    display: block
  }
  a {
    text-decoration: none;
  }

  .blog__more {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-primary;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 110%;
      height: 50%;
      background-color: $color-bg-primary;
      z-index: -1
    }
  }

  .blog__more--link {
    position: relative;
    margin: 10px 0 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-extra;
    @include transition(0.3s, 0, linear, color);
    &:hover {
      color: $color-primary;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 110%;
      height: 50%;
      background-color: $color-bg-secondary;
      z-index: -1
    }
  }
}

.blog__articles-container {
  @include flex(row, center);
  margin-top: 20px;
  flex-wrap: wrap;
}

.blog__article {
  flex: 1 1 290px;
  max-width: 100%;
  height: 100%;
  margin: 0 15px 40px;
  border: 1px solid $color-extra;
  background-color: white;
  a {
    text-decoration: none;
  }
  &:nth-child(2) {
    .blog__img-container {
      @include laptop {
        height: 500px;
      }
    }
  }
  &:nth-child(3) {
    margin-bottom: 0;
    .blog__img-container {
      @include laptop {
        height: 400px;
      }
    }
  }
}

.blog__img-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  a {
    padding: 0;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog__category {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.4rem;
  color: $color-extra;
}

.blog__title {
  margin-top: 10px;
  margin-left: 20px;
  color: $color-secondary;
  @include transition(0.3s, 0, linear, color);
  &:hover {
    color: $color-primary;
  }
}

.blog__resume {
  margin: 20px;
  font-size: 1.6rem;
}

.blog__link--cta {
  margin-left: 20px;
  display: inline-block;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 10px;
  color: $color-bg;
  background-color: $color-primary;
  @include transition(0.3s, 0, linear, background-color);
  &:hover {
    background-color: $color-extra;
  }
}

.blog__date {
  margin: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-label;
}