/*! -------------------------
Blog
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;

.blog__container {
  @include flex(column, initial, center);
  h2 { 
    margin-bottom: 20px;
  }
  span {
    display: block
  }
  a {
    text-decoration: none;
  }
}

  .blog__more {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-primary;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 110%;
      height: 50%;
      background-color: $color-bg-primary;
      z-index: -1
    }
  }

  .blog__more--link {
    position: relative;
    margin: 10px 0 60px;
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-extra;
    text-align: center;
    @include transition(0.3s, 0, linear, color, transform);
    &:hover {
      color: $color-primary;
      transform: scale(1.1);
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 110%;
      height: 50%;
      background-color: $color-bg-secondary;
      z-index: -1
    }
  }


.blog__articles-container {
  @include flex(row, center, flex-start);
  margin-top: 20px;
  flex-wrap: wrap;
}


.blog__articles-container article {
  width: calc(50% - 40px);
  margin: 20px;
  // padding-top: 20px;
  flex: 1 0 300px;
}

.post-images-container {
  position: relative;
  width: 100%;
  margin-top: 0px;
}

.post-img-container {
  width: 100%;
  height: 400px;
}

.post-img-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

img[class*='wp-image'] {
  border-radius: 20px !important;
}

.author-avatar {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #F9F8F6;
}

.author-avatar img {
  width: 100%;
  height: 100%;
}

.post-title {
  margin-top: 40px;
  font-size: 3.0rem;
  text-align: center;
  text-transform: uppercase;
  color: #a63519;
}

.post-title a {
  color: #a63519;
  @include transition(.3s,0,linear,color)
}

.post-title a:hover {
  color: #88a896;
}

.post-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 680px) {
  .post-data {
    flex-direction: row;
  }
}

.author-name {
  margin: 0 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #f6954c;
  text-align: center;
}

.post-date {
  margin: 0 5px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #88a896;
  text-align: center;
}

.post-category,
.post-category a {
  margin: 0 5px;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #f6954c;
  text-align: center;
}

.post-category a:hover {
  color: #a63519;
}

.post-tags {
  margin: 0 5px;
  font-size: 1.3rem;
  text-align: center;
}

.post-resume {
  max-width: 60ch;
  margin: 40px auto 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
}

.read-more {
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #F9F8F6;
  background-color: #88a896;
  @include transition(.3s,0,linear,color, background-color)
}

.read-more:hover {
  color: #a63519;
  background-color: #f6954c;
}

.rm-fp {
  margin-bottom: 40px;
}

article:last-child .rm-fp {
  margin-bottom: 0px;
}