/*! -------------------------
Contacto
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;
@use "./blog" as *;

.contacto__container {
  @include flex(column, initial, center);
}

.contacto__more {
  @extend .blog__more;
}

.contacto__more--link {
  @extend .blog__more--link;
}

.contacto__medios-container {
  @include flex(column, flex-start, center);
  width: 100%;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
  }
}

.contacto__form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 20px 40px;
  @include tablet {
    margin-bottom: 0;
  }
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-contact__field {
  position: relative;
  width: 100%;
  margin-bottom: 20px
}

.form-contact__input,
.form-contact__select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid $color-primary;
  border-radius: 10px;
  background-color: $color-bg;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-primary;
  &::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-extra;
  }
  appearance: none;
}

.form-contact__select {
  cursor: pointer;
  &:hover + .custom-arrow {
    border-top-color: $color-extra ;
  }
}

.custom-arrow {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  right: 20px;
  width: 20px;
  height: 20px;
  border-top: 10px solid $color-secondary;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  pointer-events: none;
  @include transition(.3s, 0, linear, border-top-color)
}

.form-contact__msj {
  @extend .form-contact__input;
  width: 100%;
  height: 90px;
  resize: none
}

.contacto__redes-container {
  @include flex(column, center, center);

  .redes__titulo {
    display: block;
    width: 10ch;
    margin-bottom: 40px;
    font-size: 3.4rem;
    text-decoration: underline;
    text-align: center;
    color: $color-extra;
  }

  .redes__item-container {
    @include flex(row, flex-start, center);
    width: 100%;
    margin-bottom: 20px
  }

  .redes__item-icon {
    margin-right: 20px;
    font-size: 4.0rem;
    a {
      color: $color-secondary;
      @include transition(.3s, 0, linear, color);
      &:hover {
        color: $color-extra;
      }
    }
  }



  .redes__item-user {
    position: relative;
    font-size: 2.0rem;
    text-align: center;
    // @media screen and (min-width: 400px) {
    //   width: initial;
    // }
    a {
      font-weight: 600;
      text-decoration: none;
      color: $color-primary;
      @include transition(.3s, 0, linear, color);
      span {
        font-size: 1.8rem;
        color: $color-extra;
        @include transition(.3s, 0, linear, color);
      }
      &:hover {
        color: $color-extra;
        span {
          color: $color-primary
        }
      }
    }
    &:hover {
      &::after {
        display: block;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      width: 110%;
      height: 50%;
      background-color: $color-bg-secondary;
      z-index: -1;
    }
  }
}

.redes__item-icon:hover + .redes__item-user{
  &::after {
    display: block;
  }
}