/*! -------------------------
Recetas
-------------------------- */

@use "../abstract" as *;
@use "../base" as *;

.section__recetas {
  background-color: $color-extra;
  color: white;
}

.recetas__container {
  @include flex(column, initial, center);
  padding: 20px 0;
  height: 100%;
  max-height: 653px;
  @include laptop {
    flex-direction: row;
    justify-content: space-between
  }
  .recetas__title {
    font-family: $font-primary;
  }
}

.recetas__header {
  @include flex-center(column);
}

.recetas__subtitle {
  max-width: 25ch;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  @include laptop {
    margin-bottom: 0;
  }
}

.recetas__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  max-height: 360px;
  max-width: 340px;
  margin-top: 20px;
  @include laptop {
    margin-top: 0
  }
  @media screen and (min-width: 660px) {
    max-width: 100%;
  }
  @include laptop {
    max-width: 340px;
  }
  @include desktop {
    max-width: 100%
  }
  img {
    width: 100px;
    margin-bottom: 20px;
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      @include desktop {
        margin-bottom: 0;
      }
    }
    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      @include laptop {
        margin-bottom: 0;
      }
    }
  }
}

.recetas__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  @include laptop {
    margin-top: 0
  }
}

.recetas__text {
  font-size: 1.6rem;
  margin: 0
}