/*! -------------------------
Buttons
-------------------------- */

@use "../abstract" as *;


// NAVBAR -- MENU BURGER BUTTON
// Visible hasta tablet -inclusive-

.menu-btn {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 15px);
  width: 30px;
  height: 4px;
  background-color: $color-secondary;
  @include transition(0.3s, 0, linear, transform, background-color);
  .nav__menu-btn:hover & {
    background-color: $color-extra;
    transform: scale(1.2);
  }
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 30px;
  height: 4px;
  background-color: $color-primary;
  @include transition(0.3s, 0, linear, transform, background-color);

  .nav__menu-btn:hover & {
    background-color: $color-secondary;
  }
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 4px;
  background-color: $color-extra;
  @include transition(0.3s, 0, linear, transform, opacity, background-color);

  .nav__menu-btn:hover & {
    background-color: $color-secondary;
  }
}

// ** Estado cuando esta activo
// ** nav__menu-btn es referencia al boton (contenedor)
// ** menu-active se agrega con js

.nav__menu-btn.menu-active .menu-btn {
  background-color: $color-extra;
  transform: rotate(45deg) scale(0.65);
}

.nav__menu-btn.menu-active .menu-btn::after {
  background-color: $color-extra;
  transform: rotate(-90deg) translateX(-10px);
}

.nav__menu-btn.menu-active .menu-btn::before {
  opacity: 0;
  transform: translateY(-10px);
}

// Efecto hover cuando esta activo
// ** Cruz se vuelve naranja

.nav__menu-btn.menu-active:hover {
  .menu-btn {
    background-color: $color-secondary;
    transform: rotate(45deg) scale(1.2)
  }

  .menu-btn::after {
    background-color: $color-secondary;
  }
}




// HERO -- CALL TO ACTIONS

// Ctas del Hero
// Tamaño ajustable con flex 1
// Text lenght acotado segun dispositivo
// Height variable segun dispositivo

.hero__cta--guias,
.hero__cta--cursos {
  @include flex(row, center, center);
  flex: 1;
  height: 50px;
  margin: 0;
  text-decoration: none;
  border-radius: 10px;
  @include tablet {
    height: 60px;
  }
  span {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    @include portrait{
      max-width: 7ch;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }
}

.hero__cta--guias {
  margin-right: 5px;
  color: $color-secondary;
  border: 2px solid $color-secondary;
  background-color: transparent;
  @include transition(0.3s, 0, linear, color, border-color);
  &:hover {
    color: $color-extra;
    border-color: $color-extra;
  }
}

.hero__cta--cursos {
  margin-left: 5px;
  color: white;
  background-color: $color-extra;
  @include transition(0.3s, 0, linear, color, background-color);
  &:hover {
    color: white;
    background-color: $color-secondary;
  }
}