/*! -------------------------
Forms
-------------------------- */

@use "../abstract" as *;


// CONTACT FORM

.form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-contact__field {
  position: relative;
  width: 100%;
  margin-bottom: 20px
}

.form-contact__input,
.form-contact__select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid $color-primary;
  border-radius: 10px;
  background-color: $color-bg;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-primary;
  &::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-extra;
  }
  appearance: none;
}

.form-contact__select {
  cursor: pointer;
  &:hover + .custom-arrow {
    border-top-color: $color-extra ;
  }
}

.custom-arrow {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  right: 20px;
  width: 20px;
  height: 20px;
  border-top: 10px solid $color-secondary;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  pointer-events: none;
  @include transition(.3s, 0, linear, border-top-color)
}

.form-contact__msj {
  @extend .form-contact__input;
  width: 100%;
  height: 90px;
  resize: none
}

.form-contact__submit {
  @extend .form-footer__submit;
}





// NEWSLETTER FORM

.footer__newsletter {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;

  h2 {
    font-size: $size-lg1;
    color: $color-primary;
    @include laptop {
      font-size: $size-lg2;
    }
  }

  p {
    font-size: $size-md2;
    color: $color-extra;
    @include laptop {
      font-size: $size-md3;
    }
  }

  form {
    span {
      display: none;
      margin-top: 5px;
      margin-bottom: 20px;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: $color-extra;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  @media screen and (min-width:700px) {
    margin-bottom: 0px;
    order: 4;
  }
}

.form-footer__field {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-footer__input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 10px;
  background-color: transparent;
  &::placeholder {
    font-size: inherit;
    color: $color-extra;
  }
}

.alertaerror {
  display: block;
}

@at-root .form-footer__submit {
  width: 100%;
  height: 40px;
  color: white;
  font-weight: 600;
  background-color: $color-primary;
  border-radius: 10px;
  border: 0;
  cursor: pointer;

  @include transition(.3s, 0s, linear, background-color, color);
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      // color: $color-extra;
      background-color: $color-primary-off;
    }
  }
}




// GUIAS FORM

.form-guias {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-guias__field {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-guias__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid $color-primary;
  border-radius: 10px;
  background-color: $color-bg;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-primary;
  &::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-extra;
  }
}

.form-guias__submit {
  @extend .form-footer__submit;
}