/*! -------------------------
Forms
-------------------------- */

@use "../abstract" as *;


.footer__newsletter {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;

  h2 {
    font-size: $size-lg1;
    color: $color-primary;
    @include laptop {
      font-size: $size-lg2;
    }
  }

  p {
    font-size: $size-md2;
    color: $color-extra;
    @include laptop {
      font-size: $size-md3;
    }
  }

  form {
    span {
      display: none;
      margin-top: 5px;
      margin-bottom: 20px;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: $color-extra;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  @media screen and (min-width:700px) {
    margin-bottom: 0px;
    order: 4;
  }
}

.form-footer__field {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-footer__input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 10px;
  background-color: transparent;
  &::placeholder {
    font-size: inherit;
    color: $color-extra;
  }
}

.alertaerror {
  display: block;
}


@at-root .form-footer__submit,
.form-contact__submit {
  width: 100%;
  height: 40px;
  color: white;
  font-weight: 600;
  background-color: $color-primary;
  border-radius: 10px;
  border: 0;
  cursor: pointer;

  @include transition(.3s, 0s, linear, background-color, color);
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      // color: $color-extra;
      background-color: $color-primary-off;
    }
  }
}