/*! -------------------------
Menus
-------------------------- */

@use "../abstract" as *;


// NAVBAR -- MENU LISTS

// Incluye links (secciones) y socials (rrss)
// Menu fullscreen hasta tablet -inclusive-

.nav__menu-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 70px);
  padding: 20px;
  background-color: $color-bg-primary;
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: linear;
  

// NAVBAR -- MENU LIST -- LINKS
// Lista de Secciones

  .nav__links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    height: calc(100vh - 160px);
    
    .nav__links-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.6rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-bg;
      border-radius: 10px;
      background-color: $color-primary;
      will-change: background-color;
      transition-property: background-color;
      transition-duration: .3s;
      transition-timing-function: linear;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $color-secondary;
      }
    }

    @media screen and (orientation: landscape) and (max-height: 512px) and (max-width: 768px){
      flex-direction: row;
      .nav__links-item {
        writing-mode: vertical-rl;
        text-orientation: upright;
        height: 100%;
        margin-right: 10px ;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


  // NAVBAR -- MENU LIST -- SOCIALS
  // Lista de Redes sociales

  .nav__socials-container {
    display: flex;
    justify-content: space-around;
    width: 150px;
    
    .nav__socials-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      
      a {
        font-size: 2.6rem;
        line-height: 2.6rem;
        color: $color-extra;
        will-change: color;
        transition-property: color;
        transition-duration: .3s;
        transition-timing-function: linear;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }